* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-image: url("mintlify-assets/bg-dark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background: rgba(10, 25, 47, 0.55);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 1000;
}


.logo img {
    height: 30px;
    width: auto;
}

.navigation-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 80px;
    gap: 30px;

}

.navigation-links a {
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
}

.ctas {
    cursor: pointer;
    gap: 12px;
}

.cta-1 {
    padding: 5px 17px;
    background-color: transparent;
    border-radius: 999px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.cta-2 {
    padding: 5px 17px;
    background-color: #fff;
    border: none;
    border-radius: 999px;
    font-size: 18px;
    font-weight: 500;
    color: #1d1d1d;
}

.pill-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.pill {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px 14px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.badge {
    background-color: #18E299;
    color: #ffff;
    font-size: 16px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 999px;
}

.pill-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.heading {
    color: #fff;
    font-size: 30px;

}

.para {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
}

.pill-start{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pill-form{
    display: inline-flex;
    align-items: center;
    gap: 100px;
    padding: 15px 50px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
}
.pill-form input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    text-align: start;
    font-size: 20px;
}

.pill-form button {
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 999px;
}